
.line-clamp-3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.line-clamp-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}


#root,
body,
html {
  padding: 0;
  margin: 0;
}

.p-sidebar .p-sidebar-header {
  margin: 10px 20px;
  padding: 0 15px;
  border-bottom: 1px solid #c4c4c4;
}

.search-container {
  .p-inputtext:enabled:focus {
    box-shadow: none;
  }

  .p-button:focus {
    box-shadow: none;
  }
}